*.pyc
output
data
datasets
logs
output-rgbn-train.txt
tensorboard
compact_bilinear_pooling/__pycache__/
lib/compact_bilinear_pooling/sequential_fft/__pycache__/
lib/datasets/__pycache__/
lib/layer_utils/__pycache__/
lib/model/__pycache__/
lib/nets/__pycache__/
lib/nms/__pycache__/
lib/roi_data_layer/__pycache__/
lib/utils/__pycache__/
tools/__pycache__/

